<p style="color: green"><%= notice %></p>

<%= render @kind %>

<div>
  <%= link_to "Modifier ce type", edit_kind_path(@kind) %> |
  <%= link_to "Retour", kinds_path %>

  <%= button_to "Supprimer ce type", @kind, method: :delete %>
</div>


<div>
  <%= link_to "Créer un Input", new_input_path %>
</div>
