
<%= simple_form_for(@input) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :data %>
    <%= f.association :kind, include_blank: false %>
    <%= link_to "Ajouter un type d'input", new_kind_path %>

    <%= f.association :user, collection: [current_user], include_blank: false %>
    <%= link_to "Créer son profil", new_user_path %>


  </div>

  <div class="form-actions btn btn-light mt-3 p-0">
    <%= f.button :submit %>
  </div>
<% end %>
