<div id="<%= dom_id input %>">

<div class="card" style="width: 18rem;">
  <div class="card-body">

  <p>
    <strong>Data :</strong>
    <%= input.data %>
  </p>

  <p>
    <strong>Type :</strong>
    <%= input.kind %>
  </p>

  <p>
    <strong>Utilisateur :</strong>
    <%= link_to input.user %>
  </p>

  <p>
  <strong>Crée le :</strong>
 <%= input.created_at.day %> / <%= input.created_at.month %> / <%= input.created_at.year %>

</p>

</div>
</div>

</div>
