<p style="color: green"><%= notice %></p>

<%= render @input %>

<div>
  <% if user_signed_in? && current_user == @input.user %>
    <%= link_to "Modifier cette input", edit_input_path(@input) %> |
  <% end %>

  <%= link_to "Retour", inputs_path %>

  <% if user_signed_in? && current_user == @input.user %>
    <%= button_to "Supprimer", @input, method: :delete, data: { confirm: "Es-tu sûr ?" } %>
  <% end %>
</div>
