<p style="color: green"><%= notice %></p>

<%= render @input %>

<div>
  <%= link_to "Modifier cette input", edit_input_path(@input) %> |
  <%= link_to "Retour", inputs_path %>

  <%= button_to "Supprimer", @input, method: :delete %>
</div>
