<p style="color: green"><%= notice %></p>

<%= render @user %>


<h2>Inputs créées</h2>
<% @user.inputs.each do |input| %>
  <%= link_to input %><br>
<% end %>


<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>


<div>
  <%= link_to "Créer un Input", new_input_path %>

</div>
